{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Admin Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="main-container">

    <div class="overlay">

        <div class="top-bar">

            <a href="/logout">

                <button class="logout-btn">

                    Logout

                </button>

            </a>

        </div>

        <h1>

            ANTI-SPOOFING FACE <br>
            ATTENDANCE SYSTEM USING CNN

        </h1>

        <p>

            Anti-Spoofing Attendance System

        </p>

        <div class="button-container">

            <a href="/register.html">

                <button>

                    Register User

                </button>

            </a>

            <a href="/viewattendance.html">

                <button>

                    View Attendance

                </button>

            </a>

            <a href="/deleteuser.html">

                <button>

                    Delete User

                </button>

            </a>

        </div>

    </div>

</div>

</body>

</html>