    {% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Face Attendance System</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="main-container">

        <div class="overlay">

            <h1>FACE ATTENDANCE SYSTEM</h1>

            <p>
                Anti-Spoofing Face Attendance using CNN
            </p>

            <div class="button-container">

                <a href="/login.html">

                    <button>
                        Login
                    </button>

                </a>

            </div>

        </div>

    </div>

</body>

</html>