{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="main-container">

    <div class="overlay">

        <div class="login-box">

            <h2>SELECT LOGIN</h2>

            <div class="login-buttons">

                <a href="/adminlogin.html">

                    <button type="button">

                        Admin Login

                    </button>

                </a>

            </div>

            <br>

            <div class="login-buttons">

                <a href="/userlogin.html">

                    <button type="button">

                        User Login

                    </button>

                </a>

            </div>

            <div class="home-link">

                <span class="home-text">

                    Click here to go

                </span>

                <a href="/index.html">

                    Home

                </a>

            </div>

        </div>

    </div>

</div>

</body>

</html>